.btn{
    background-color: rgb(0, 149, 246, );
    opacity: .7;
    width: 268px;
    height: 35px;
    border-radius: 6px;
    border: none;
    outline: none;
    color:#fff;
    cursor: pointer;
}